Redirect 301 /blog /drupal_archive/blog.html
RedirectMatch 301 ^/blog/(.*)$ /drupal_archive/blog/$1.html
Redirect 301 /blogs /drupal_archive/blogs
RedirectMatch 301 ^/blogs/(.*)$ /drupal_archive/blogs/$1.html
Redirect 301 /portfolio /drupal_archive/portfolio.html
RedirectMatch 301 ^/portfolio/(.*)$ /drupal_archive/portfolio/$1.html
RedirectMatch 301 ^/comment/(.*)$ /drupal_archive/comment/$1.html
RedirectMatch 301 ^/category/(.*)$ /drupal_archive/category/$1.html
RedirectMatch 301 ^/taxonomy/(.*)$ /drupal_archive/taxonomy/$1.html
RedirectMatch 301 ^/users/(.*)$ /drupal_archive/users/$1.html
RedirectMatch 301 ^/user/(.*)$ /drupal_archive/user/$1.html
RedirectMatch 301 ^/filter/(.*)$ /drupal_archive/filter/$1.html
Redirect 301 /contact /contact.html
Redirect 301 /namecoin /drupal_archive/namecoin.html
Redirect 301 /service /drupal_archive/service.html
Redirect 301 /welcome /drupal_archive/welcome.html
Redirect 301 /sitemap.xml /drupal_archive/sitemap.xml
RedirectMatch 301 ^/sites/(.*)$ /drupal_archive/sites/$1
RedirectMatch 301 ^/misc/(.*)$ /drupal_archive/misc/$1
