# Set the default handler.
DirectoryIndex index.html

# Set the default handler.
DirectoryIndex index.html

# Redirects to old site pages
Redirect 301 /contact /contact.html
Redirect 301 /sitemap.xml /drupal_archive/sitemap.xml
Redirect 301 /mybtcprice https://dmp1ce.github.io/Dave-s-BTC-Price
RedirectMatch 301 ^/([\w-/]+)$ /drupal_archive/$1.html
